.contenedor-banner-copy {
   position: relative;
   min-height: 90vh;
   margin-top: 10vh;
   .banner {
      img {
         min-width: 100%;
      }
   }
   .copy {
      padding: 5%;
      position: absolute;
      color: $fondo-claro-1;
      line-height: 200px;
      h1 {
         font-family: "lucida_sansdemibold";
      }
      .btn-contacto {
         margin-top: -100px;
      }
   }
}