.seccion-beneficios {
   margin: 0;
   .titulo-seccion {
      padding: 0 5.5%;
      h3 {
         text-align: center;
      }
   }
   .beneficio {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      padding: 2rem 5.5%;
      &:nth-child(odd){
         background: $fondo-claro-3;
      }
      img {
         margin-right: 2em;
         width: 28%;
      }
      div {
         width: 100%;
      }
   }
}