.contacto {
   h2 {
      text-align: center;
      margin: 2rem 0;
         position: relative;
         &::after {
            content: "";
            position: absolute;
            left: 40%;
            top: 120%;
            width: 20%;
            border: 1px solid $resaltado-2;
         }
   }
}

textarea {
	resize: none;
 	min-height: 250px;
}

.mapa_google {
	width: 100%;
}

.mapa_google iframe {
	width: 95%;
	height: 400px;
}

.importante {
	color: $resaltado-3;
}



.form-boton {
	background: $resaltado-2;
	border-radius: 10px;
	color: #fff;
}

.form-boton:hover {
	background: #0069D9;
	color: #fff;
}

.direccion {
	padding-right: 30%;
}

.contacto_form {
	padding-left: 5%;
}

.p__conacto > a {
	color: $links;
}

.p__conacto > a:hover {
	text-decoration: none;
	color: $links-activo;
}