.contacto {
	padding: 0 20px;
	.contact_title {
		h2 {
			font-weight: bold;
			margin: 2rem 0;
			text-align: center;
			span {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					bottom: -30%;
					left: 10%;
					width: 80%;
					border: 1px solid $resaltado-1;
				}
			}
		}
	}	
}

textarea {
	resize: none;
 	min-height: 250px;
}


.importante {
	color: $resaltado-3;
}



.form-boton {
	background: $resaltado-2;
	border-radius: 10px;
	color: #fff;
}

.form-boton:hover {
	background: #0069D9;
	color: #fff;
}

.direccion {
	padding-right: 30%;
}

.contacto_form {
	padding-left: 5%;
}

.p__conacto > a {
	color: $links;
}

.p__conacto > a:hover {
	text-decoration: none;
	color: $links-activo;
}