.entregables {
	background: #F1F1F1; 
	box-shadow: 43px 41px 123px 71px rgba(241,241,241,1);
	.entre_title {
		h2 {
			font-weight: bold;
			margin: 2rem 0;
			text-align: center;
			span {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					bottom: -30%;
					left: 10%;
					width: 80%;
					border: 1px solid $resaltado-1;
				}
			}
		}
	}	
}

.entre1 {
	background: url("../../public/images/entregables/11- entregables.svg") no-repeat center top;
  	background-attachment: fixed !important;
}

.entre1,
.entre4 {
	background-size: cover;
  	height: 100vh;
}

.entre4 {
	background: url("../../public/images/entregables/14- entregables.svg") no-repeat center top;
	background-attachment: fixed !important;
}

.entre1
.entre2,
.entre3,
.entre4,
.entre5,
.entre6 {
	display: relative;
}

.entre2,
.entre5 {
	padding-right: 30px;
	padding-left: 0;
}

.entre3,
.enetre6 {
	padding-right: 0;
	padding-left: 30px;
}

.entre6 {
	height: 700px;
}

.entre_sub1,
.entre_sub2,
.entre_sub3,
.entre_sub4,
.entre_sub5,
.entre_sub6 {
	background: rgba(90, 157, 202,.8);
	color: $fondo-claro-1;
	font-family: lucida_sansregular;
	font-weight: bold;
	position: absolute;
	display: flex;
   	align-items: center;
   	top: 13%;
}

.entre_sub1,
.entre_sub4 {
	justify-content: center;
	height: 20%;
	width: 40%;
	margin: 0px;
   	padding: 0px;
}

.entre_sub2,
.entre_sub3,
.entre_sub5,
.entre_sub6 {
	height: 20%;
	width: 80%;
	padding: 20px;
}