.entregables{
   h3 {
      text-align: center;
      position: relative;
      margin: 2rem 0;
      &::after {
        content: "";
        position: absolute;
        left: 20%;
        top: 120%;
        width: 60%;
        border-bottom: 1px solid $resaltado-2;
      }
    }
}


.entre1 {
	background: url("../../public/images/entregables/11- entregables.svg") no-repeat center top;
  	background-attachment: fixed !important;	
}

.entre4 {
	background: url("../../public/images/entregables/14- entregables.svg") no-repeat center top;
	background-attachment: fixed !important;
}

.entre1 {
	margin-bottom: 2em;
}

.entre1,
.entre4 {
	background-size: cover;
  	height: 100vh;
}
.entre2,
.entre3,
.entre5,
.entre6 {
	height: 600px;
	padding: 0;
	// margin: 1em 0;
	background-size: 100%;
}

.entre2 {
	background: url("../../public/images/entregables/10-entregables.svg") ;
}

.entre3 {
	background: url("../../public/images/entregables/12-entregables.svg");
}

.entre5 {
	background: url("../../public/images/entregables/13-entregables.svg");
	background-size: cover;
}

.entre6 {
	background: url("../../public/images/entregables/14-entregables.svg");
	background-size: cover;
}


.entre_sub1,
.entre_sub2,
.entre_sub3,
.entre_sub4,
.entre_sub5,
.entre_sub6 {
	color: $fondo-claro-1;
	font-family: lucida_sansregular;
	background: rgba(84, 148, 192, .8);
	margin: 0;
	margin-top: 13%;
	padding: 1em 2em;
}

.entre_sub1,
.entre_sub4 {
	width: 40%;
}

.entre_sub2,
.entre_sub3,
.entre_sub5,
.entre_sub6 {
	width: 90%;
}

.boton_entre1, 
.boton_entre2, 
.boton_entre3,
.boton_entre4,
.boton_entre5,
.boton_entre6  {
	color: white;
	font-size: 1em;
}

.boton_entre1:hover, 
.boton_entre2:hover,
.boton_entre3:hover,
.boton_entre4:hover,
.boton_entre5:hover,
.boton_entre6:hover {
	color: $fondo-claro-2;
}
