.foot {
	height: 70px;
	margin-top: 100px;
	padding: 0 20px;
}

.foot_empresa {
	display: absolute;
	display: flex;
    justify-content: center;
    align-items: center;
}

.foot__marca {
	font-family: lucida_sansregular;
	font-size: .9em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: 34%;
	margin: auto;
}

.foot_enlaces {
	font-family: lucida_sansregular;
	font-size: .9em;	
	list-style: none;
    margin: 0;
    text-align: justify;
    padding: 0;
    width: 100%;
}

.foot_enlaces li {
	display: inline-block;
	color: $links;
}

.foot_enlaces a {
	text-decoration: none;
	color: $links;
	padding: .8em;
} 

.foot_enlaces a:hover {
	color: $links-activo
}

.foot_social {
	list-style: none;
}

.foot_social a {
	margin: 0 .5rem;
}
