.pie_pag {
	height: 80px;
}

.empresa {
  	display: table;
}

.empresa .name_empresa {
	display: table-cell;
	margin: 0;
	padding: 0 1rem;
	vertical-align: middle;
}
 
.social a {
	padding: 0 .6em;
}

.menu-pie {
	padding: 0;
	padding-top: .9em;
	margin: 0;
}
.menu-pie li {
	display: inline-block;
	color: $links;
	padding:.6em;
	margin: 0;
}

.menu-pie li a {
	color: $links;
	text-decoration: none;
	padding-top: 1em;
} 

.menu-pie a:hover {
	color: $links-activo;
}

.menu-pie .linea:before {
	content: "|         ";
}

