.header {
   background: $fondo-claro-1;
   padding: 0 5.5% !important;
   // height: 90px;
   .contenedor-logo {
      padding: 10px 0;
      // .img-logo {
      //    // height: 9vh;
      // }
   }
   .contenedor-nav .navbar .nav{
      .nav-item {
         // &.active {
         //    background: red;
         // } 
         a{
            color: $links;
            position: relative;
            &.active {
               color: $links-activo;
               border-bottom: 1px solid $links-activo;
            }
            &:hover {
               color: $links-activo;
               border-bottom: 1px solid $links-activo;
            }
            transition: all 1s;
         }
      }
   }
   .contenedor-nav .navbar .nav .nav-item:last-child a{
      color: $fondo-claro-1;
   }
}