@media (max-width: 768px){
   .contenedor-banner-copy {
      height: auto;
      margin-top: 12vh;

      .copy {
         color: $links;
         position: relative;
      }
   }
}
@media (max-width: 576px){
   .seccion-beneficios {
      .beneficio {
         h4 {
            font-size: 17px;
         }
         p {
            display: none;
         }
      }
   }
}