@media (max-width: 1920px){
   
}
@media (max-width: 1200px){
   .contenedor-banner-copy {
      background: url("../../public/images/banner/1-header.svg");
      background-size: cover;
         width: 100%;
         height: 100%;
         -webkit-transform: skewY(-10deg);
         transform: skewY(-5deg);
         // background: #f6f9fc;
         margin-top: -5rem;
         // background: linear-gradient(180deg, $resaltado-8 0%, $resaltado-4 99.37%, $links 99.38%);
      .copy {
         // color: $links;
         transform: skewY(5deg);
         position: relative;
         top: 10%;
         h1 {
            font-size: 40px;
         }
      }
   }
   .contenedor-objetivos {
      margin-top: 8%;
   }
}
@media (min-width: 992px){
   .contenedor-banner-copy {
      position: relative;
      min-height: 50vh;
      margin-top: 9vh;
   }
}
@media (max-width: 992px){
   .contenedor-banner-copy {
      height: auto;
      margin-top: 12vh;

      .copy {
         // color: $links;
         position: absolute;
         top: 20%;
         h1 {
            font-size: 20px;
         }
      }
   }
}

@media (max-width: 768px){
   .contenedor-banner-copy {
      margin-top: 12vh;

      .copy {
         h1 {
            font-size: 20px;
         }
      }
   }
   .servicio {
      margin: 1rem 0;
      .cara {
         overflow: auto;
      }
   }
   .contacto_info {
      .direccion {
         padding: 0;
         text-align: center;
      }  
   }
    .entregables {
      .entre_sub1,
      .entre_sub4 {
         width: 60%;
      }
   }
}
@media (max-width: 576px){
   .seccion-beneficios {
      .beneficio {
         h4 {
            font-size: 17px;
         }
         p, ol {
            display: none;
         }
      }
      .contacto_info {
      .direccion {
         padding: 0;
         text-align: center;
         }  
      }
   }
   .servicio {
      height: 300px;
      .cara {
         img {
            margin: 0;
         }
      }
   }
   .contacto_info {
      .direccion {
         padding: 0;
         text-align: center;
      }  

   }
    .entregables {
      .entre_sub1,
      .entre_sub2,
      .entre_sub3,
      .entre_sub4,
      .entre_sub5,
      .entre_sub6 {
         width: 100%;
      }
   }
   .contenedor-banner-copy {
      .copy {
         h1 {
            font-size: 18px;
         }
      }
   }
}