@media (max-width: 768px){
   .contenedor-banner-copy {
      height: auto;
      margin-top: 12vh;

      .copy {
         color: $links;
         position: relative;
      }
   }
   .servicio {
      margin: 1rem 0;
      .cara {
         overflow: auto;
      }
   }
}
@media (max-width: 576px){
   .seccion-beneficios {
      .beneficio {
         h4 {
            font-size: 17px;
         }
         p, ol {
            display: none;
         }
      }
   }
   .servicio {
      height: 300px;
      .cara {
         img {
            margin: 0;
         }
      }
   }
}