.nos_seccion{
   h2 {
      text-align: center;
      margin: 2rem 0;
         position: relative;
         &::after {
            content: "";
            position: absolute;
            left: 40%;
            top: 120%;
            width: 20%;
            border: 1px solid $resaltado-2;
         }
   }
}

.nos-img {
	 height: 80%;
	 text-align: center;
}



.nos_article,
.sec-img {
	display: flex;
	justify-content: center;
   	align-items: center
}