.nos_seccion{
   h2 {
      text-align: center;
      font-weight: normal;
      margin: 2rem 0;
         position: relative;
         &::after {
            content: "";
            position: absolute;
            left: 40%;
            top: 120%;
            width: 20%;
            border: 1px solid $resaltado-2;
         }
   }
}

.sec-img {
   padding: 0;
   margin: 0;
   background: url("../../public/images/nosotros/15-nosotros.svg") no-repeat;
   background-size:  cover;
}
