.contenedor-objetivos {
   .objetivo-1, .objetivo-2 {
      height: 43vh;
      display: flex;
      align-items: center;
      padding: 0px 30px;
      justify-content: space-between;
   }
   .objetivo-1 p, .objetivo-2 p {
      width: 60%;
   }
   .objetivo-1 {
      padding: 1rem 5.5% 1rem 5.5%;
      img {
         max-height: 100%;
      }
   }
   .objetivo-2 {
      background-image: url(../../public/images/home/3-home.svg);
      background-size: cover;
      padding: 0 5.5%;
   }
}