.list-group-item.active {
  background: $resaltado-8 !important;
}

.seccion-servicios {
  background: $fondo-claro-3;
  padding-bottom: 2rem;
  .titulo-servicios {
    margin: 2rem 0;
    padding: 0 5.5%;
    display: flex;
    justify-content: space-around;
    h2 {
      width: 100%;
      text-align: center;
      button {
        width: 80%;
        border-radius: 50px;
        line-height: 40px;
        background: $resaltado-2;
        border: none;
      }
    }
  }
  .servicio {
    margin: 25px 0;
    // width: 500px;
    height: 400px;
    position: relative;
    perspective: 1000px;
    color: $fondo-claro-1;
    &:nth-last-of-type(odd) .cara {
      background: $resaltado-8;
    }
    &:nth-last-of-type(even) .cara {
      background: $resaltado-4;
    }
    .caja-servicio {
      transform-style: preserve-3d;
      transition: all 0.5s linear;
      width: 100%;
      height: 100%;
      .cara {
        position: absolute;
        backface-visibility: hidden;
        padding: 2rem;
        width: 100%;
        height: 100%;
        padding: 2rem 1rem;
        &.frontal {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          img {
            width: 35%;
            margin-bottom: 2.5rem;
          }
        }
        &.posterior {
          font-size: 15px;
          transform: rotateY(180deg);
        }
      
      }
    }
    &:hover .caja-servicio {
      transform: rotateY(180deg);
    }
  }
  .contenedor-servicios-1 {
    display: block;
    padding: 0 5.5%;
    margin: 2rem 0;
  }
  .contenedor-servicios-2 {
    display: none;
    padding: 0 5.5%;
    margin: 2rem 0;
    .sub-servicio-1, .sub-servicio-2 {
      padding: 3rem;
      background: $resaltado-4;
      color: $fondo-claro-1;
      img {
        display: block;
        margin: auto;
        width: 30%;
        margin-bottom: 2rem;
      }
    }
    .sub-servicio-2{
      background: $resaltado-8;
      .fintech-colapsado {
        color: $resaltado-8;
      }
      .contenedor-informes-externos {
        display: flex;
        > li {
          margin: 1rem;
        }
      }
    }
  }
  .subtitulo-h3 + .img-especializadas {
    padding: 0;
    background: url(../../public/images/home/9-serviciosavanzados.svg) no-repeat center top;
    background-attachment: fixed !important;
    background-size: cover;
  	height: 60vh;

  }
  .lista-areas-especializadas {
    padding-left: 5.5%;
    margin-top: 2rem;
    h4 {
      padding: 5%;
      font-size: 20px;
      text-align: center;
      position: relative;
      margin: 0;
      background: $resaltado-4;
      color: $fondo-claro-1;
      cursor: unset;
      &::after {
        content: "";
        position: absolute;
        left: 20%;
        top: 80%;
        width: 60%;
        border-bottom: 1px solid white;
      }
      ~ .list-group-item {
        background: rgb(222, 235, 240);
        &.active {
          background: $resaltado-4 !important;

        }
      }
    }
  }
  .contenido-areas-especializadas {
    margin-top: 2rem;
    padding-right: 5.5%;
  }
}









 
 