$fondo-oscuro-1: rgb(0, 0, 0);
$fondo-oscuro-2: rgb(55, 53, 69);
$fondo-claro-1: rgb(255, 255, 255);
$fondo-claro-2: rgb(220, 216, 220);
$resaltado-1: rgb(173, 132, 198);
$resaltado-2: rgb(135, 132, 199);
$resaltado-3: rgb(93, 115, 154);
$resaltado-4: rgb(105, 151, 175);
$resaltado-5: rgb(132, 172, 182);
$resaltado-6: rgb(111, 129, 131);
$links-activo: rgb(105, 160, 32);
$links: rgb(140, 140, 140);