@import "vars";
* {
   box-sizing: border-box;
}
html, body {
   height: 100%;
}
@font-face {
   font-family: 'lucida_sansregular';
   src: url('../font/lucida_sans-webfont.woff2') format('woff2'),
        url('../font/lucida_sans-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'lucida_sansdemibold';
   src: url('../font/lucidasansdemibold-webfont.woff2') format('woff2'),
        url('../font/lucidasansdemibold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'lucida_sansitalic';
   src: url('../font/lucida_sans_italic-webfont.woff2') format('woff2'),
        url('../font/lucida_sans_italic-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

body {
   font-family: 'lucida_sansregular', Verdana, sans-serif;
}
.contenedor-principal {
   padding: 0;
}
.btn-contacto {
   background: $resaltado-2;
   border: none;
}
.titulo-seccion {
   h2 {
      text-align: center;
      margin: 2rem 0;
         position: relative;
         &::after {
            content: "";
            position: absolute;
            left: 40%;
            top: 120%;
            width: 20%;
            border: 1px solid $resaltado-2;
         }
   }
}
.subtitulo-h3 {
   h3 {
      text-align: center;
      position: relative;
      margin: 2rem 0;
      &::after {
        content: "";
        position: absolute;
        left: 20%;
        top: 120%;
        width: 60%;
        border-bottom: 1px solid $resaltado-2;
      }
    }
}
.subtitulo-seccion {
   h4, h5 {
      text-align: center;
      position: relative;
      margin-bottom: 2rem;
      &::after {
        content: "";
        position: absolute;
        left: 20%;
        top: 120%;
        width: 60%;
        border-bottom: 1px solid white;
      }
    }
}
ol {
   list-style-type: lower-alpha;
   li {
      font-weight: bold;
      span {
         font-weight: normal;
      }
   }
}

.seccion-beneficios, .seccion-servicios, .nos_seccion, .contacto {
   padding-top: 70px;
}

@import "header";
@import "banner&copy";
@import "objetivos";
@import "beneficios";
@import "servicios";
@import "entregables";
@import "nosotros";
@import "principiosNegocio";
@import "valores";
@import "contacto";
@import "footer";



@import "media-queries";
