@import "vars";
* {
   box-sizing: border-box;
}
html, body {
   height: 100%;
}
@font-face {
   font-family: 'lucida_sansregular';
   src: url('../font/lucida_sans-webfont.woff2') format('woff2'),
        url('../font/lucida_sans-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'lucida_sansdemibold';
   src: url('../font/lucidasansdemibold-webfont.woff2') format('woff2'),
        url('../font/lucidasansdemibold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'lucida_sansitalic';
   src: url('../font/lucida_sans_italic-webfont.woff2') format('woff2'),
        url('../font/lucida_sans_italic-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

body {
   font-family: 'lucida_sansregular', Verdana, sans-serif; 
}
.contenedor-principal {
   padding: 0;
}
.btn-contacto {
   background: $resaltado-2;
   border: none;
}
.titulo-seccion {
   h2 {
      margin: 2rem 0;
      text-align: center;
      span {
         position: relative;
         &::after {
            content: "";
            position: absolute;
            bottom: -30%;
            right: 15%;
            width: 75%;
            border: 1px solid $resaltado-2;
         }
      }
   }
}

@import "header";
@import "banner&copy";
@import "objetivos";
@import "beneficios";
@import "entregables";
@import "nosotros";
@import "principiosNegocio";
@import "valores";
@import "contacto";
@import "footer";


@import "media-queries";
